<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LibroControlador</servlet-name>
        <servlet-class>paquete.controlador.LibroControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrestamoControlador</servlet-name>
        <servlet-class>paquete.controlador.PrestamoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccesoControlador</servlet-name>
        <servlet-class>paquete.controlador.AccesoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditorialControlador</servlet-name>
        <servlet-class>paquete.controlador.EditorialControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutorControlador</servlet-name>
        <servlet-class>paquete.controlador.AutorControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneroControlador</servlet-name>
        <servlet-class>paquete.controlador.GeneroControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarreraControlador</servlet-name>
        <servlet-class>paquete.controlador.CarreraControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoControlador</servlet-name>
        <servlet-class>paquete.controlador.AlumnoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportePrestamoEntreFecha</servlet-name>
        <servlet-class>paquete.controlador.ReportePrestamoEntreFecha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaControlador</servlet-name>
        <servlet-class>paquete.controlador.CategoriaControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LibroControlador</servlet-name>
        <url-pattern>/LibroControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrestamoControlador</servlet-name>
        <url-pattern>/PrestamoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccesoControlador</servlet-name>
        <url-pattern>/AccesoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditorialControlador</servlet-name>
        <url-pattern>/EditorialControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutorControlador</servlet-name>
        <url-pattern>/AutorControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneroControlador</servlet-name>
        <url-pattern>/GeneroControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarreraControlador</servlet-name>
        <url-pattern>/CarreraControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoControlador</servlet-name>
        <url-pattern>/AlumnoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportePrestamoEntreFecha</servlet-name>
        <url-pattern>/ReportePrestamoEntreFecha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaControlador</servlet-name>
        <url-pattern>/CategoriaControlador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
